h2 {
    color: #5FCFFC;
    background-color: rgb(89,151,0);
    
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
}

body {
    /* can shorten hex if each letter/num a pair, like black can be #000 */
    background-color: #C5E; 
}